* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: inter;
    color: #000;
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.swiper-slide img {
    display: block;
    width: 300px;
    height: auto;
}

.swiper-pagination-bullet {
    background: darkgray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background: black;
    width: 24px;
    opacity: 1;
}

.swiper-pagination {
    margin-bottom: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.text-below-pagination {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    color: #000;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
